# Data Science Tools and Ecosystem

In this notebook, we will explore various data science tools and ecosystem components. We'll look into languages, libraries, tools, and some basic arithmetic operations used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Tool              | Description                                         |
|-------------------|-----------------------------------------------------|
| Jupyter Notebook  | Web-based interactive computing environment         |
| RStudio           | IDE for R programming                              |
| Apache Zeppelin   | Multi-purpose notebook for data analytics           |
| Spyder            | Scientific Python Development Environment           |

### Below is an example of evaluating arithmetic expressions in Python:

# This will multiply then add two numbers

In [1]:
(3*4)+5

17

# This will convert 200 minutes to hours by dividing by 60

In [1]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives:
- List popular languages for Data Science
- List commonly used libraries
- Create tables in markdown
- Perform arithmetic operations using Python
- Share the notebook via GitHub

## Author
JAY DAVE